<!DOCTYPE HTML>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
</head>
<body>
	<h1><%= title %></h1>
	<button class="btn" id="J_UploadPictureBtn">图片上传</button>
	<hr/>
	<p>上传进度<span id="J_UploadProgress">0</span>%</p>
	<p>上传结果图片</p>
	<div id="J_PicturePreview" class="preview-picture"></div>
	<script src="/js/index2.js"></script>
</body>
</html>